<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
<!--    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>-->
    <script src="js/jquery-3.4.1.min.js"></script>

    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">

    <!-- fontawesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">
</head>
<body>
<section class="main">
    <div class="bottom-grid">
        <div class="logo">
            <h1> <a href="../index.html"> Meetup Signin form</a></h1>
        </div>
    </div>
    <div class="content-w3ls">
        <div class="text-center icon">
            <span class="fa fa-meetup"></span>
        </div>
        <div class="content-bottom">
            <div class="field-group">
                <span class="fa fa-user" aria-hidden="true"></span>
                <div class="wthree-field">
                    <!--        <input name="text1" id="text1" type="text" value="" placeholder="Username" required>-->
                    <input type="text" id="username" placeholder="username">
                </div>
            </div>
            <div class="field-group">
                <span class="fa fa-lock" aria-hidden="true"></span>
                <div class="wthree-field">
                    <!--                        <input name="password" id="myInput" type="Password" placeholder="Password">-->
                    <input type="text" id="password" placeholder="password">
                </div>
            </div>
            <div class="wthree-field">
                <button id="login" class="btn">登录</button>
                <button onclick="reg()" class="btn">注册</button>
            </div>
<!--            <button id="login" class="btn">登录</button>-->
<!--            <button onclick="reg()" class="btn">注册</button>-->
        </div>
    </div>
</section>


<!--</form>-->

<script type="text/javascript">

    $(function () {
        $("#login").click(function () {
            alert("asv")
            jump();
            alert("a")
        });
    });

    //  注册
    function reg() {
        var username = document.getElementById("username").value;   //获取到前端输入的用户名
        var password = document.getElementById("password").value;	//获取到前端输入的密码
        var obj = {
            username: username,
            password: password,
        }

        $.ajax({
            url: "http://localhost:8089/reg",    //reg是注册接口
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(obj),
            success: function (result) {
                if (result === 1) {
                    alert("注册成功");
                    window.location.href = "/login";
                } else if (result === 2) {
                    alert("密码不能为空");
                } else if (result === 3) {
                    alert("账号不能为空");
                } else {
                    alert("用户名已被注册");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('XMLHttpRequest:');
                console.log(XMLHttpRequest);
                alert('网络异常！尝试刷新网页解决问题')
            }

        });
    }


    //登录
    function jump() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var obj = {
            username: username,
            password: password,
        }
        alert(JSON.stringify(obj));
        $.ajax({
            url: "http://localhost:8089/login",        //login是登录接口
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            data: JSON.stringify(obj),
            // data: obj,
            success: function (result) {
                if (result.code === 0) {
                    alert("登录成功");
                    window.location.href = "/toAdminHome";
                } else {
                    alert("账号或密码不正确");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('XMLHttpRequest:');
                console.log(XMLHttpRequest);
                alert('网络异常！尝试刷新网页解决问题')
            }
        });
    }


</script>
</body>
</html>

