<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>修改信息</small>
                </h1>
            </div>
        </div>
    </div>

    <form th:action="@{/updateBook}" method="post">
        <input type="hidden" name="id" th:value="${byId.getId()}"/>
        学生班级：<input type="text" name="clazzId" th:value="${byId.getClazzId()}"/><br/>
<!--        学生学号：<input type="text" name="counts" th:value="${byId.getSn()()}"/>-->
        学生姓名：<input type="text" name="username" th:value="${byId.getUsername()}"/><br/>
        学生性别：<input type="text" name="sex" th:value="${byId.getSex()}"/><br/>
        学生详情：<input type="text" name="remark" th:value="${byId.getRemark()}"/><br/>
        <input type="submit" value="提交"/>
    </form>
</div>
<script>

</script>
</body>
</html>