<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="">
<head>
    <meta charset="UTF-8">
    <title>书籍列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入jQuery -->
<!--    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>书籍列表 —— 显示所有书籍</small>
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 column">
        <a class="btn btn-primary" th:href="@{/addBook}">新增</a>
        <p class="btn btn-primary">搜索框：</p><input value="搜索">
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-12 column">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>学生编号</th>
                <th>学生班级</th>
                <th>学生学号</th>
                <th>学生姓名</th>
                <th>学生性别</th>
                <th>学生详情</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item:${list}">
                <td><P th:text="${item.getId}"></P></td>
                <td><P th:text="${item.getClazzId}"></P></td>
                <td><P th:text="${item.getSn}"></P></td>
                <td><P th:text="${item.getUsername}"></P></td>
                <td><P th:text="${item.getSex}"></P></td>
                <td><P th:text="${item.getRemark}"></P></td>
                <td>
                    <!--                        <a th:href="@{/toUpdateBook/${item.getId}" class="test" >更改</a>-->
                    <a th:href="@{'/toUpdateBook/' +${item.getId}}">更改</a>
                    <a th:href="@{'/todeleteBook/' + ${item.getId}}">删除</a>
                </td>
            </tr>

            <tr></tr>
            </tbody>
        </table>
    </div>
    <!-- 显示分页信息 -->
<!--    <div class="row">-->
<!--        <tr th:each="pag:${pageInfo}">-->
<!--            &lt;!&ndash; 分页文字信息 &ndash;&gt;-->
<!--            <div class="col-md-6">-->

<!--                当前-->
<!--                <td th:text="${pag.pageNum}"/>-->
<!--                页,总${pageInfo.pages }页,总${pageInfo.total }条记录-->
<!--            </div>-->
<!--            &lt;!&ndash; 分页条信息 &ndash;&gt;-->
<!--            <div class="col-md-6">-->
<!--                <nav aria-label="Page navigation">-->
<!--                    <ul class="pagination">-->
<!--                        <li><a href="${path }/ssm-crud/emps?pn=1">首页</a></li>-->
<!--                        &lt;!&ndash; 判断是否有上一页，以便显示点击按钮 &ndash;&gt;-->
<!--                        <c:if test="${pageInfo.hasPreviousPage }">-->
<!--                            <li>-->
<!--                                <a href="${path }/ssm-crud/emps?pn=${pageInfo.pageNum-1 }" aria-label="Previous">-->
<!--                                    <span aria-hidden="true">&laquo;</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </c:if>-->
<!--                        &lt;!&ndash; 遍历页码 &ndash;&gt;-->
<!--                        <c:forEach items="${pageInfo.navigatepageNums }" var="page_Num">-->
<!--                            <c:if test="${page_Num == pageInfo.pageNum }">-->
<!--                                <li class="active"><a href="#">${page_Num }</a></li>-->
<!--                            </c:if>-->
<!--                            <c:if test="${page_Num != pageInfo.pageNum }">-->
<!--                                <li><a href="${path }/ssm-crud/emps?pn=${page_Num }">${page_Num }</a></li>-->
<!--                            </c:if>-->
<!--                        </c:forEach>-->
<!--                        &lt;!&ndash; 判断是否有下一页 &ndash;&gt;-->
<!--                        <c:if test="${pageInfo.hasNextPage }">-->
<!--                            <li>-->
<!--                                <a href="${path }/ssm-crud/emps?pn=${pageInfo.pageNum+1 }" aria-label="Next">-->
<!--                                    <span aria-hidden="true">&raquo;</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </c:if>-->

<!--                        <li><a href="${path }/ssm-crud/emps?pn=${pageInfo.pages }">末页</a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->
<!--        </tr>-->
<!--    </div>-->
</div>
<script>
</script>

</body>
</html>